In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [46]:
data2=pd.read_csv("benchmark.csv")
data2
data2=pd.read_csv('benchmark.csv')

                  DateTime MixProdElec
0      2019-01-01 00:00:00      Normal
1      2019-01-01 00:30:00      Normal
2      2019-01-01 01:00:00      Normal
3      2019-01-01 01:30:00      Normal
4      2019-01-01 02:00:00      Normal
...                    ...         ...
35035  2021-12-31 21:30:00      Normal
35036  2021-12-31 22:00:00      Normal
35037  2021-12-31 22:30:00      Normal
35038  2021-12-31 23:00:00      Normal
35039  2021-12-31 23:30:00      Normal

[35040 rows x 2 columns]

In [5]:
VZC=data2['VacancesZoneC'].to_numpy()
VZC

array([ True,  True,  True, ..., False, False, False])

In [6]:
MixProdElec=data2['MixProdElec'].to_numpy()

In [8]:
tab=pd.crosstab(MixProdElec,VZC)
tab

col_0       False   True
row_0
Carbonne    26696   8636
Decarbonne  17942  10231
Normal      20339  12141

In [13]:
n=len(MixProdElec)
p_carbonne=np.sum(tab.iloc[0])/n
p_carbonne

0.36809918216387977

In [14]:
p_decarbonne=np.sum(tab.iloc[1])/n
p_decarbonne

0.2935146116580716

In [15]:
p_normal=np.sum(tab.iloc[2])/n
p_normal

0.33838620617804865

In [17]:
PXTrueYDecarbonne=len(data2[(data2['VacancesZoneC']== True) & (data2['MixProdElec']=='Decarbonne')])/len(data2[data2['MixProdElec']=='Decarbonne']) 
PXTrueYDecarbonne

0.36314911440031233

In [18]:
PXFalseYDecarbonne=len(data2[(data2['VacancesZoneC']== False) & (data2['MixProdElec']=='Decarbonne')])/len(data2[data2['MixProdElec']=='Decarbonne'])
PXFalseYDecarbonne

0.6368508855996876

In [22]:
PXTrueYNormal=len(data2[(data2['VacancesZoneC']== True) & (data2['MixProdElec']=='Normal')])/len(data2[data2['MixProdElec']=='Normal'])
PXTrueYNormal

0.37379926108374384

In [21]:
PXFalseYNormal=len(data2[(data2['VacancesZoneC']== False) & (data2['MixProdElec']=='Normal')])/len(data2[data2['MixProdElec']=='Normal'])
PXFalseYNormal

0.6262007389162562

In [20]:
PXTrueYCarbonne=len(data2[(data2['VacancesZoneC']== True) & (data2['MixProdElec']=='Carbonne')])/len(data2[data2['MixProdElec']=='Carbonne'])
PXTrueYCarbonne

0.24442431789878863

In [19]:
PXFalseYCarbonne=len(data2[(data2['VacancesZoneC']== False) & (data2['MixProdElec']=='Carbonne')])/len(data2[data2['MixProdElec']=='Carbonne'])
PXFalseYCarbonne

0.7555756821012114

In [24]:
p_carbonne*PXTrueYCarbonne,p_decarbonne*PXTrueYDecarbonne,p_normal*PXTrueYNormal

(0.08997239151950825, 0.10658957128718029, 0.12648851383028598)

In [26]:
max(p_carbonne*PXTrueYCarbonne,p_decarbonne*PXTrueYDecarbonne,p_normal*PXTrueYNormal)

0.12648851383028598

In [27]:
#Le classificateur de Bayes pour xj=True est: Normal car il a la probabilitÃ© la plus Ã©levÃ©e(le max correspond Ã  la valeur 
#de Normal)

In [29]:
p_carbonne*PXFalseYCarbonne,p_decarbonne*PXFalseYDecarbonne,p_normal*PXFalseYNormal

(0.2781267906443715, 0.18692504037089128, 0.21189769234776268)

In [30]:
max(p_carbonne*PXFalseYCarbonne,p_decarbonne*PXFalseYDecarbonne,p_normal*PXFalseYNormal)

0.2781267906443715

In [31]:
#Le classificateur de Bayes pour xj=False est: Carbonne car il a la probabilitÃ© la plus Ã©levÃ©e(le max correspond Ã  la valeur 
#de Carbonne

In [32]:
data=pd.read_csv("prev.csv")

In [34]:
data

,DateTime,PositionDansAnnee,Annee,Mois,DemiHeure,Jour,JourFerie,JourFerieType,VacancesZoneA,VacancesZoneB,VacancesZoneC,Temperature,Nebulosity,Humidity,WindSpeed,Precipitation
0,2019-01-01 00:00:00,0.000000,2019,janvier,0,mardi,True,1janvier,True,True,True,5.948718,96.000000,87.641026,2.535897,-0.007692
1,2019-01-01 00:30:00,0.000057,2019,janvier,1,mardi,True,1janvier,True,True,True,5.885043,96.230769,87.722222,2.571795,-0.008120
2,2019-01-01 01:00:00,0.000114,2019,janvier,2,mardi,True,1janvier,True,True,True,5.821368,96.461538,87.803419,2.607692,-0.008547
3,2019-01-01 01:30:00,0.000171,2019,janvier,3,mardi,True,1janvier,True,True,True,5.757692,96.692308,87.884615,2.643590,-0.008974
4,2019-01-01 02:00:00,0.000228,2019,janvier,4,mardi,True,1janvier,True,True,True,5.694017,96.923077,87.965812,2.679487,-0.009402
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,2021-12-31 21:30:00,0.999772,2021,dÃ©cembre,43,vendredi,False,nonFerie,True,True,True,8.738816,87.303807,90.482456,3.105662,0.039474
35036,2021-12-31 22:00:00,0.999829,2021,dÃ©cembre,44,vendredi,False,nonFerie,True,True,True,8.694737,87.227661,90.501754,3.079915,0.032632
35037,2021-12-31 22:30:00,0.999886,2021,dÃ©cembre,45,vendredi,False,nonFerie,True,True,True,8.650658,87.151515,90.521053,3.054167,0.025789
35038,2021-12-31 23:00:00,0.999943,2021,dÃ©cembre,46,vendredi,False,nonFerie,True,True,True,8.606579,87.075369,90.540351,3.028419,0.018947
35039,2021-12-31 23:30:00,1.000000,2021,dÃ©cembre,47,vendredi,False,nonFerie,True,True,True,8.562500,86.999223,90.559649,3.002671,0.012105

In [37]:
vac=np.array(data["VacancesZoneC"])

In [38]:
L=[]
for i in vac:
    if i==True:
        L.append('Normal')
    else:
        L.append('Carbonne')
pred=np.array(L)
pred

array(['Normal', 'Normal', 'Normal', ..., 'Normal', 'Normal', 'Normal'],
      dtype='<U8')

In [45]:
data["MixProdElec"]=pred
data

,DateTime,PositionDansAnnee,Annee,Mois,DemiHeure,Jour,JourFerie,JourFerieType,VacancesZoneA,VacancesZoneB,VacancesZoneC,Temperature,Nebulosity,Humidity,WindSpeed,Precipitation,MixProdElec
0,2019-01-01 00:00:00,0.000000,2019,janvier,0,mardi,True,1janvier,True,True,True,5.948718,96.000000,87.641026,2.535897,-0.007692,Normal
1,2019-01-01 00:30:00,0.000057,2019,janvier,1,mardi,True,1janvier,True,True,True,5.885043,96.230769,87.722222,2.571795,-0.008120,Normal
2,2019-01-01 01:00:00,0.000114,2019,janvier,2,mardi,True,1janvier,True,True,True,5.821368,96.461538,87.803419,2.607692,-0.008547,Normal
3,2019-01-01 01:30:00,0.000171,2019,janvier,3,mardi,True,1janvier,True,True,True,5.757692,96.692308,87.884615,2.643590,-0.008974,Normal
4,2019-01-01 02:00:00,0.000228,2019,janvier,4,mardi,True,1janvier,True,True,True,5.694017,96.923077,87.965812,2.679487,-0.009402,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,2021-12-31 21:30:00,0.999772,2021,dÃ©cembre,43,vendredi,False,nonFerie,True,True,True,8.738816,87.303807,90.482456,3.105662,0.039474,Normal
35036,2021-12-31 22:00:00,0.999829,2021,dÃ©cembre,44,vendredi,False,nonFerie,True,True,True,8.694737,87.227661,90.501754,3.079915,0.032632,Normal
35037,2021-12-31 22:30:00,0.999886,2021,dÃ©cembre,45,vendredi,False,nonFerie,True,True,True,8.650658,87.151515,90.521053,3.054167,0.025789,Normal
35038,2021-12-31 23:00:00,0.999943,2021,dÃ©cembre,46,vendredi,False,nonFerie,True,True,True,8.606579,87.075369,90.540351,3.028419,0.018947,Normal
35039,2021-12-31 23:30:00,1.000000,2021,dÃ©cembre,47,vendredi,False,nonFerie,True,True,True,8.562500,86.999223,90.559649,3.002671,0.012105,Normal

In [48]:
soumission=data2
soumission['MixProdElec']=pred
soumission

                  DateTime MixProdElec
0      2019-01-01 00:00:00      Normal
1      2019-01-01 00:30:00      Normal
2      2019-01-01 01:00:00      Normal
3      2019-01-01 01:30:00      Normal
4      2019-01-01 02:00:00      Normal
...                    ...         ...
35035  2021-12-31 21:30:00      Normal
35036  2021-12-31 22:00:00      Normal
35037  2021-12-31 22:30:00      Normal
35038  2021-12-31 23:00:00      Normal
35039  2021-12-31 23:30:00      Normal

[35040 rows x 2 columns]

In [50]:
soumission.to_csv("predictions2.csv",index=False)